registry=http://cicd.liftcl:8081/repository/npm-public/
@liftcl:registry=http://cicd.liftcl:8081/repository/npm-local/
audit=false
//cicd.liftcl:8081/repository/npm-local/:_auth=ZGV2OiFsaWZ0Y2xkZXY=
//cicd.liftcl:8081/repository/npm-public/:_auth=ZGV2OiFsaWZ0Y2xkZXY=